
#content-wrapper{
	overflow-y: hidden;
}
#app-navigation > ul {
	clear: both;
}
#app-navigation > ul ul {
 display: inline; 
}
#map {
                width    : 100%;
                position : relative;
                height   : 100%;
}
.olControlAttribution {
	position      : absolute;
	font-size     : 10px;
	bottom        : 0 !important;
	right         : 0 !important;
	background    : rgba(0,0,0,0.1);
	font-family   : Arial;
	padding       : 2px 4px;
	border-radius : 5px 0 0 0;
}
div.olControlZoom a {
	display: block;
	margin: 1px;
	padding: 0;
	color: white;
	font-size: 28px;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	height: 32px;
	width: 32px;
	line-height: 28px;
	text-shadow: 0 0 3px rgba(0,0,0,0.8);
	background: #130085;
	background: rgba(0, 60, 136, 0.5);
	filter: alpha(opacity=80);
}

.leaflet-control-zoom {
margin-top: 50px !important;
}

input#search {
	width: 180px;
	margin: 10px 10px;
}
div#search-icon{
height: 16px;
width: 16px;
display: inline-block;
cursor: pointer
}

.contact-icon {
background: url('../img/icons/personBackground.png');
padding: 4px 5px 13px 4px;
}
i{
	display: inline-block;
	height: 16px;
	width: 16px;
}
.fright{
	float: right;
}
.micon {
	margin-top: 13px;
	position: absolute;
	left: 40px;
}
.icon{
	display: inline-block;
	height: 16px;
	width: 16px;
}
#loadingContacts{
	height: 60px;
	position: fixed;
	bottom: 45px;
	width: 241px;
	vertical-align: middle;
	padding-top: 15px;
	cursor: pointer;
	padding-left: 12px;
	background-color: #f8f8f8;
	border-top: 1px solid #ccc;
}
#progressBar {
        width: 222px;
        height: 22px;
        border: 1px solid #111;
        background-color: #292929;
}
 
#progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #426392;
}
#app-navigation > ul {
	padding-bottom: 70px;
}
.hidden{
	display: none !important;
}
