#search {
    position: absolute;
    margin: 10px 0 0 10px;
    left: 0;
    top: 0;
    z-index: 10000;
}

#map {
    width: 100%;
    position: absolute;
    height: 100%;
}

#map *{
    box-sizing: content-box;
}

.leaflet-control-layers-selector {
    min-height: 0px;
}

#opening-hours-table {
    margin-left: 25px;
    display: none;
}

#opening-hours-table-toggle-collapse {
    display: none;
}

#opening-hours-table-toggle-expand {
}

#app {
    width: 100%;
}

.inline-wrapper {
    display: flex;
}

.location-icon, .popup-icon {
    height: 20px;
    margin-right: 5px;
}

.location-icon {
    margin-top: 5px;
}

.location-header {
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.location-city {
    color: gray;
}

.poi-open, .poi-closed, .poi-closes {
    font-weight: 600;
}

.poi-open {
    color: #46ba61;
}

.poi-closed {
    color: #e9322d;
}

.poi-closes {
    color: #ffcc44;
}

.poi-opens {

}

.opening-hours-table .opening-hours-day {
    padding-right: 5px;
}

.opening-hours-table .opening-hours-hours {
    padding-left: 5px;
}

tr.selected td {
    font-weight: bold;
}

.opening-hours {
    padding-left: 5px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* Overriden Leaflet Styles */
.leaflet-top.leaflet-left {
    top: 50px;
}
.leaflet-popup-content h2, .leaflet-popup-content h3 {
    margin-bottom: 0px;
}

.leaflet-popup-content p.location-city {
    margin-top: 0px;
}

.leaflet-popup-content-wrapper {
    border-radius: 3px !important;
}

.leaflet-marker-photo {
    border: 2px solid #fff;
    box-shadow: 3px 3px 10px #888;
}

.leaflet-marker-photo.photo-marker{
    top: -10px;
}

.leaflet-marker-photo.photo-marker:after {
    content:"";
    position: relative;
    bottom: 16px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

.leaflet-marker-photo .thumbnail { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
}

.leaflet-marker-photo .label {
    position: absolute;
    top: -7px;
    right: -11px;
    color: #fff;
    background-color: #333;
    border-radius: 9px;
    height: 18px;
    min-width: 18px;
    line-height: 12px;
    text-align: center;
    padding: 3px;
}

.easy-button-button {
    margin: 0 !important;
    padding: 0 !important;
}
.easy-button-button span.fa{
    line-height: 1.7;
    font-size: 20px;
}
.menuActive,
#navigation-favorites.open {
    background-color: var(--color-background-dark);
}
#dummylogo {
    display: none;
    content: url("images/.png");
}
.easy-button-button img {
    width: 100%;
    height: 100%;
}
.favoriteMarker {
    height: 15px !important;
    width: 15px !important;
    -webkit-mask-image: url('images/star.png');
    -webkit-mask-size: 15px;
    -webkit-mask-repeat: no-repeat;
}
.line-enabled {
    background: var(--color-background-dark);
}
.line-disabled {
    background: var(--color-main-background);
}
