#content-wrapper {
	overflow-y: hidden;
}
#app-navigation > ul {
	clear: both;
}
#app-navigation > ul ul {
	display: inline;
	width: 100%
}
#map {
	width: 100%;
	position: relative;
	height: 100%;
}
.olControlAttribution {
	position: absolute;
	font-size: 10px;
	bottom: 0 !important;
	right: 0 !important;
	background: rgba(0,0,0,0.1);
	font-family: Arial;
	padding: 2px 4px;
	border-radius: 5px 0 0 0;
}
div.olControlZoom a {
	display: block;
	margin: 1px;
	padding: 0;
	color: white;
	font-size: 28px;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	height: 32px;
	width: 32px;
	line-height: 28px;
	text-shadow: 0 0 3px rgba(0,0,0,0.8);
	background: #130085;
	background: rgba(0, 60, 136, 0.5);
	filter: alpha(opacity=80);
}

input#search {
	width: 180px;
	margin: 10px 10px;
}
div#search-icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	cursor: pointer
}
.geocoder-1 {
	display: none;
}
.contact-icon {
	background: url('../img/icons/personBackground.png');
	padding: 4px 5px 13px 4px;
}
.favorite-icon {
	background: url('../img/icons/favMarker.png');
	padding: 4px 5px 13px 4px;
}
.photo-marker {
	background: url('../img/icons/personBackground.png');
	padding: 4px 5px 13px 4px;
}
.deviceHistory{
	float: right;
	margin-top: 14px;
	margin-left: 10px;
}
.keepDeviceCentered {
	background: url('../img/icons/trace_off.png');
	background-size: cover;
	float: right;
	margin-top: 14px;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: inline-block;
}
span.keepDeviceCentered.tracOn {
	background: url('../img/icons/trace_on.png');
	background-size: cover;
	height: 16px;
	width: 16px;
}
i {
	display: inline-block;
	height: 16px;
	width: 16px;
}
.fright {
	float: right;
}
.micon {
	margin-top: 13px;
	position: absolute;
	left: 40px;
}
.icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.maki-icon {
	background: #fff;
	border: 1px solid #666;
	border-radius: 10px;
	padding: 1px;
}

#loadingContacts {
	padding-left: 45px;
	margin-top: -10px;
}
#progressBar {
	width: 190px;
	height: 5px;
	border: 1px solid #aaa;
	border-radius: 3px;
}
#progressBar div {
	height: 100%;
	width: 0;
	background-color: #426392;
}

#app-navigation > ul {
	padding-bottom: 70px;
}
.hidden {
	display: none !important;
}
button.clearroute.icon-close {
	font-size: 12px;
	float: left;
	background-position-x: 0px;
	padding-left: 17px;
	padding-top: 5px;
	background-position-y: 2px;
	margin-left: 0px;
}

table#trackingDevices {
	width: 100%;
}
#trackingDevices > thead > tr > th:first-child {
	width: 150px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }




/* Map control elements */

#searchContainer {
	position: absolute;
	z-index: 1;
	left: 45px;
	width: 201px;
}
.leaflet-routing-geocoders {
	margin-top: 0;
	border-bottom: none;
}
.addwaypoint {
	position: absolute;
	right: 0;
	top: 5px;
	margin: 0 !important;
	padding: 8px 11px;
	background: transparent !important;
	border: none !important;
}

.leaflet-control-container > .leaflet-top.leaflet-left {
	top: 45px;
}
.leaflet-bar,
.leaflet-container .leaflet-control-gps {
	box-shadow: none;
	border-radius: 3px;
}


/* Place popup */

.leaflet-popup-content-wrapper {
	border-radius: 3px;
}
.leaflet-popup-content .icon-star,
.leaflet-popup-content .icon-starred {
	position: absolute;
	left: 0;
	top: 0;
	padding: 26px;
}
.leaflet-popup-content .marker-popup-content {
	margin-left: 26px;
}
.leaflet-popup-content .setDestination {
	margin-left: 18px;
	padding: 8px;
}
.leaflet-popup-content .leaflet-popup-close-button {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	padding: 6px;
}


/* Force mobile view, navigation hidden by default, copied from mobile.css */
/* APP SIDEBAR TOGGLE and SWIPE ----------------------------------------------*/

#app-navigation,
#app-content {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#app-navigation {
	width: 250px !important;
}

#app-content {
	width: 100% !important;
	left: 0 !important;
	background-color: #fff;
	overflow-x: hidden !important;
	z-index: 1000;
}

#app-sidebar{
	width: 100% !important;
}

#app-navigation-toggle {
	position: absolute;
	display: inline-block !important;
	top: 0;
	left: 0;
	width: 44px;
	height: 44px;
	z-index: 149;
	background-color: rgba(255, 255, 255, .7);
	cursor: pointer;
	opacity: .6;
}
#app-navigation-toggle:hover,
#app-navigation-toggle:focus {
	opacity: 1;
}
