language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

env:
  global:
    - CORE_BRANCH=master
    - APP_NAME=maps
  matrix:
    - DB=mysql

before_install:
#  - composer install
  - wget https://raw.githubusercontent.com/nextcloud/travis_ci/master/before_install.sh
  - bash ./before_install.sh $APP_NAME $CORE_BRANCH $DB
  - cd ../server
  - php occ app:enable $APP_NAME

script:
  - cd apps/$APP_NAME
  # Test lint
  - find . -name \*.php -not -path './vendor/*' -exec php -l "{}" \;

  # Run phpunit tests
  - phpunit --configuration phpunit.xml

  # Create coverage report
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover clover.xml

matrix:
  include:
    - php: 7
      env: DB=sqlite
    - php: 7
      env: DB=pgsql
    - php: 7
      env: "DB=mysql CORE_BRANCH=stable9"
    - php: 7
      env: "DB=mysql CORE_BRANCH=stable10"
    - php: 7
      env: "DB=mysql CORE_BRANCH=stable11"
    - php: 7
      env: "DB=mysql CORE_BRANCH=stable12"
  allow_failures:
    - php: hhvm
  fast_finish: true
