language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7

env:
  global:
    - CORE_BRANCH=master
    - APP_NAME=maps
  matrix:
    - DB=sqlite

branches:
  only:
    - master

before_install:
#  - composer install
  - wget https://raw.githubusercontent.com/owncloud/administration/master/travis-ci/before_install.sh
  - bash ./before_install.sh $APP_NAME $CORE_BRANCH $DB
  - cd ../core
  - php occ app:enable $APP_NAME

script:
  # Test lint
  - cd apps/$APP_NAME
  - sh -c "if [ '$DB' = 'sqlite' ]; then ant test; fi"

  # Run phpunit tests
  - phpunit --configuration phpunit.xml

  # Create coverage report
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover clover.xml

matrix:
  include:
    - php: 5.4
      env: DB=mysql
    - php: 5.4
      env: DB=pgsql
    - php: 5.4
      env: "DB=mysql CORE_BRANCH=stable8"
    - php: 5.4
      env: "DB=mysql CORE_BRANCH=stable8.1"
    - php: 5.4
      env: "DB=mysql CORE_BRANCH=stable8.2"
    - php: 5.4
      env: "DB=mysql CORE_BRANCH=stable7"
  allow_failures:
    - php: hhvm
  fast_finish: true
