name: Test

on:
    pull_request:
    push:
        branches:
            - main
            - stable*

jobs:
    unit-tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-versions: [8.2, 8.3, 8.4]
                nextcloud-versions: ['stable31']
        name: Nextcloud ${{ matrix.nextcloud-versions }} php${{ matrix.php-versions }} unit tests
        steps:
            - name: Set up php${{ matrix.php-versions }}
              uses: shivammathur/setup-php@master
              with:
                  php-version: ${{ matrix.php-versions }}
                  extensions: ctype,curl,dom,gd,iconv,intl,json,mbstring,openssl,posix,sqlite,xml,zip,gmp
                  coverage: xdebug
            - name: Checkout Nextcloud
              run: git clone https://github.com/nextcloud/server.git --recursive --depth 1 -b ${{ matrix.nextcloud-versions }} nextcloud
            - name: Install Nextcloud
              run: php -f nextcloud/occ maintenance:install --database-name oc_autotest --database-user oc_autotest --admin-user admin --admin-pass admin --database sqlite --database-pass=''
            - name: Checkout Viewer
              run: git clone https://github.com/nextcloud/viewer.git -b ${{ matrix.nextcloud-versions }} viewer
              working-directory: nextcloud/apps
            - name: Enable Viewer
              run: php -f nextcloud/occ app:enable viewer
            - name: Checkout Maps
              uses: actions/checkout@v3
              with:
                  path: nextcloud/apps/maps
            - name: Install dependencies
              working-directory: nextcloud/apps/maps
              run: composer install
            - name: Enable maps app
              working-directory: nextcloud
              run: php -f occ app:enable maps
            - name: Run tests
              if: ${{ always() && matrix.php-versions != 8.1 }}
              working-directory: nextcloud/apps/maps
              run: composer run test:unit
              env:
                  XDEBUG_MODE: coverage
            - name: Report coverage
              uses: codecov/codecov-action@v3.0.0
              if: ${{ always() && matrix.nextcloud-versions == 'master' && matrix.php-versions != 8.1}}
              with:
                  file: ./nextcloud/apps/maps/tests/clover.unit.xml
                  flags: unittests
                  fail_ci_if_error: true

    frontend-unit-test:
        runs-on: ubuntu-latest
        name: Front-end unit tests
        steps:
            - uses: actions/checkout@v3
            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: 20.x
            - name: npm ci
              run: npm ci
        env:
            CI: true
